.container
  .box
    .row
      .col-sm-12.col-md-10.col-md-offset-1
        %table.table.table-hover
          %thead
            %tr
              %th.col-sm-2.col-md-2.text-center Product
              %th.col-sm-4.col-md-4.text-center Name
              %th.col-sm-2.col-md-2.text-center Description
              %th.col-sm-1.col-md-1.text-center Quantity
              %th.col-sm-1.col-md-1.text-center Price
              %th.col-sm-1.col-md-1.text-center Total
              %th.col-sm-1.col-md-1
          %tbody
            - if !@order.drinks.blank?
              - @order.drinks.each do |drink|
                %tr
                  %td.col-sm-2.col-md-2
                    %a{:href => "#"}
                      = image_tag "drinks.jpg", :class=>"img img-responsive center-block", :size =>"75x75"
                  %td.col-sm-4.col-md-4{:style => "text-align: center"}
                    = drink.name
                  %td.col-sm-2.col-md-2{:style => "text-align: center"}
                    = drink.description      
                  %td.col-sm-1.col-md-1{:style => "text-align: center"}
                    = drink.quantity
                  %td.col-sm-1.col-md-1.text-center
                    %strong $4.87
                  %td.col-sm-1.col-md-1.text-center
                    %strong $14.61
                  %td.col-sm-1.col-md-1
                    %button.btn.btn-danger{:type => "button"}
                      %span.glyphicon.glyphicon-remove
                      Remove

            %tr
              %td  
              %td  
              %td  
              %td  
              %td  
              %td
                %h5 Subtotal
              %td.text-right
                %h5
                  %strong $24.59
            %tr
              %td  
              %td  
              %td  
              %td
              %td  
              %td
                %h5 Estimated shipping
              %td.text-right
                %h5
                  %strong $6.94
            %tr
              %td  
              %td  
              %td  
              %td
              %td  
              %td
                %h3 Total
              %td.text-right
                %h3
                  %strong $31.53
            %tr
              %td  
              %td  
              %td  
              %td
              %td  
              %td
                %button.btn.btn-default{:type => "button"}
                  %a{:href => "order.html"}
                    %span.glyphicon.glyphicon-shopping-cart
                    Continue Shopping
              %td
                %button.btn.btn-success{:type => "button"}
                  Checkout
                  %span.glyphicon.glyphicon-play
