.container
  .row
    .box
      .col-lg-12
        %hr
          %h2.intro-text.text-center
            About
            %strong Cafe UK
          %hr
      .col-md-6
        = image_tag "slide-2.jpg", :class => "img img-responsive img-border-left"
      .col-md-6
        %p Here at Café-UK, hooking you up with your daily dose of freshly vacuum-brewed “energy in a cup” isn’t just our priority but we strive to be your #1 go-to place for your caffeine fix. Our three storey café is decked with a multitude of bar stools, cushioned chairs, couches, electric outlets, and (drum rolls please…) 60 x 100 cm drafting tables for those who need to do their plates while enjoying their own cup of joe. Plus we also have a naturally ventilated smoking lounge. Did we mention we embedded iPad units in our café tables too? Still not good enough for you? How ’bout we top that off with free 10 mbps Wi-Fi. Time to say goodbye to the hassles of buffering.Hot, iced, blended, decaffeinated, or with an extra shot of espresso; whichever way you want your coffee, we definitely have something for your tastebuds. And if you’re not so much of a coffee person, we also have tea-based drinks. Choose from our wide array of cakes and pastries as well. All our products are patterned to your own liking, so just tell us how you want it and we got you covered. So if you need a place to study or just chill, hit us up at the corner of J. Berlin and P. Noval street. Drop by anytime you want, we’re open 24/7.
      .clearfix