.container
  .box
    .row
      .col-lg-12
        = link_to "View all reservations", reservations_path, :class=>"btn btn-primary btn-md"
      .col-lg-12
        %br
        %hr
        %h2.text-center Edit a Reservation
        %hr
        =render "form"