.container
  .box 
    .container-fluid
      .container
        .col-md-4
          .menu-thumbnail
            %center
              = image_tag ("#{@product.classification}s.jpg"), :class=>"img img-responsive"
        .col-md-8      
          =render 'form'
