.container
  .box
    .container-fluid
      .content-wrapper
        .item-container
          .container
            .col-md-15
              .product.col-md-3.service-image-left
                .menu-thumbnail
                  %center
                    =image_tag ("#{@product.classification}s.jpg"), :class=>"img img-responsive"
                    
            .col-md-7
              %h4 Product Information
              %hr
                %table
                  %tr.product-title
                    %td Name: 
                    %td
                      ="#{@product.name}"
                  %tr.product-desc
                    %td Decription: 
                    %td
                      ="#{@product.description}"
                  %tr.product-price
                    %td Price:
                    %td
                      ="#{@product.default_price}"
                %hr
                  .btn-group
                    =link_to "Edit", edit_product_path(@product), :class=>"input btn btn-success"
                  .btn-group
                    =link_to "Delete", product_path(@product), :method=>:delete, :data=>{:confirm=>"Are you sure?"}, :class=>"input btn btn-danger"
                  .btn-group
                    =link_to "Back", page_path(:home), :class=>" btn btn-primary"