-if admin?
	= render :partial=> 'layouts/admin_navbar'
-else
	.brand Cafe UK
	.address-bar{:color=>"red"}
		=link_to "#1233 J.Barlin Cor. P.Noval Sts., Sampaloc, Manila || 09391234567", page_path(:about)
	}
	}
	}
	= render :partial => 'layouts/navbar'